/* Global rules */

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope&family=Montserrat:wght@300&family=Nunito:wght@300&display=swap');


html {
    background-color: #1c1e1f;
    font-family: 'Nunito', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

::selection {
    color: #000; 
    background: #ff0;
}

h1 {
    font-weight: normal;
    margin: auto;
    background: #f5f1ee;
    line-height: 2.5em;
}

h1.page-header{
    font-family: 'Nunito', sans-serif;
}

main.wrapper {
    background-color: #f5f1ee
    ;
    overflow: auto;
}

p {
    margin: 1em; /* Top Right Bottom Left (TRBL) */
}

h2,h3 {
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
}

a {
    color:#5c98f3;
    text-decoration: none;
}

a:hover {
    color: #9aa0a3;
    background-color: #7f7a78;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: left;
        margin-right: 2em;
    }
    
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 100%;
    }
    
}
